<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>VueJS Blog</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://unpkg.com/vue"></script>
  </head>
  <body>
    <div id="vue-app">
      <h1>My name is {{name}}, and I'm {{age}} years old.</h1>
      <a v-bind:href="website">The google search engine</a>

      <h3>Events</h3>
      <button v-on:click="add(1)">Add a Year</button>
      <button v-on:click="subtract(1)">Subtract a Year</button>
      <button v-on:dblclick="add(10)">Add 10 Years</button>
      <button @dblclick="subtract(10)">Subtract 10 Years</button>
      <p>My age is {{age}}</p>


      <h3>Keyboard Events</h3>
      <label>Name:</label>
      <input type="text" @keyup="logName">
      <label>Age</label>
      <input type="text" v-on:keyup.alt.enter="logAge">


      <h3>Two-Way Data Binding</h3>

      <label>Name:</label>
      <input type="text" @keyup="logName" v-model="name">
      <p>{{name}}</p>
      <label>Age</label>
      <input type="text" v-on:keyup.alt.enter="logAge" v-model="age">
      <p>{{age}}</p>


      <h3>Looping through lists</h3>
      <ul>
        <li v-for="character in characters">{{character}}</li>
      </ul>

      <ul>
        <li v-for="ninja in ninjas">{{ninja.name}} - {{ninja.age}}</li>
      </ul>

      <h3>Components</h3>
      <greeting></greeting>

      <h4>Refs</h4>
      <input type="text" ref="input">
      <button v-on:click="readRefs">Submit</button>















    </div>





    <script src="app.js"></script>
  </body>
</html>
